<section>
    <div class=" verticalCenter">
        <div class="containter">
            <div class="center-block col-md-4">
                <h3>Login</h3>
                <form name="loginForm" ng-submit="send(loginForm.$valid)" novalidate>
                    <input type="email" required name="email" id="" ng-model="user.email">
                    <input type="password" required name="password"  ng-model="user.password">
                    <input type="submit" value="lOGIN"/>

                    </form>
            </div>
        </div>
    </div>
</section>

