
body {
    background-color: white;
    * {
        box-sizing: border-box;
    }
}
.overlay {
    top:0;
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

section {
    display: table;
    width: 100%;
    height: 100vh;
    position: relative;
}
section.blocks {
    padding-bottom: 60px;   
    color: $color2;
    .col-md-12 {
        @include breakpoint(768px 992px) {
          margin-top: 30px;
        }
    }
}
.clear {
    &:after, &:before {
        content: '';
        display: table;
        float: none;
        clear: both;
    }
}

.banner {
    background-color: #e6ede6;
}

.bottom-line {
    z-index: 9;
    position: absolute;
    width: 100%;    
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: $dark;
}
.color2-bg {
    background-color: $color2;
}
.centered-wrapper {
    height: 100%;
    display: table;
}
.centered {
    vertical-align: middle;
    display: table-cell;
}
.inner {
   .textbox {
       padding-top: 20px;
       padding-bottom: 20px;
   }
}
.title {
    font-weight: bold;
    font-size: 30px;
}

.cube {
    background-color: $color2;
    height: 350px;
}
.abs {
    // position: absolute;
    width: 100%;
}
.black-bg {
    background-color: $dark;
    z-index: -1;
}

.rombs-container {
    // overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    .romb {
    //    @include transform-origin(left);
       transform-origin: -2% 100%;
       left:50%;
        height: 100%;
        width: 100%;
        // max-width: 100vh;
        max-height: 100vw;
        border: 6px solid $color1;
        position: absolute;
        bottom: -40px;
     
     &:first-child {
        @include transform(rotate(-45deg));
     }
     &:nth-child(2) {
         transform-origin: 2% 105%;
        @include transform(rotate(-35deg));
     }
     
     &:nth-child(3) {
        @include transform(rotate(-25deg));
           transform-origin: 10% 110%;
     }

    }
}

.galrow  {
    padding: 30px auto;
    .col-lg-4{
    margin-bottom:15px;
    margin-top:15px;
}
}