
body {
    background-color: white;
    overflow-x: hidden;
    * {
        box-sizing: border-box;
    }
}


.overlay {
    top:0;
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.verticalCenter {
    display: table-cell;
    vertical-align: middle;
}

section {
    display: table;
    width: 100%;
    height: 100vh;
    position: relative;
}
section.blocks {
    padding-bottom: 60px;   
    color: $color2;
    .col-md-12 {
        @include breakpoint(768px 992px) {
          margin-top: 30px;
        }
    }
}
.clear {
    &:after, &:before {
        content: '';
        display: table;
        float: none;
        clear: both;
    }
}

.banner {
    background-color: #e6ede6;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedbe9+0,6199c7+59,3a8bc2+84,26558b+100 */
background: #cedbe9; /* Old browsers */
background: -moz-linear-gradient(-45deg, #cedbe9 0%, #6199c7 59%, #3a8bc2 84%, #26558b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #cedbe9 0%,#6199c7 59%,#3a8bc2 84%,#26558b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #cedbe9 0%,#6199c7 59%,#3a8bc2 84%,#26558b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    z-index: 2;
}
.centerWrapper {
    width: 100%;
    display: table;
    .verticalCenter {
        display: table-cell;
        vertical-align: middle;
    }
}
.bottom-line {
    text-align: center;
    z-index: 9;
    position: absolute;
    width: 100%;    
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: $dark;
    .go-down {
        cursor: pointer;
        line-height: 18px;
        position: relative;
        &:after {
            white-space: nowrap;
            @include transition(width .3s);
            height: 100%;
            width: 0;
            overflow: hidden;
            // @include transform(scaleY(0));
            content: attr(data-text);
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            color: yellow;
        }
        &:hover:after {
            width: 100%;
            
            // @include transform(scaleY(1));
        }
    }
  &.color2-bg {
      .go-down {
          color: $dark;
          &:after {
              color: $color1;
          }
      }
  }
}
.color2-bg {
    background-color: $color2;
}
.bg-dark {
    background-color: $dark;
}
.bg-dark-gray {
    background-color: $dark-gray;
}
.centered-wrapper {
    height: 100%;
    display: table;
}
.centered {
    vertical-align: middle;
    display: table-cell;
}
.inner {
   .textbox {
       padding-top: 20px;
       padding-bottom: 20px;
   }
}
.title {
    font-weight: bold;
    font-size: 30px;
}
.bolder {
    font-weight: 900;
}
.bannerTitle {
    color: #d0eff7;
    text-align: right;
    font-weight: normal;
    span {
        color: #ffffff;
        text-shadow: 1px 1px 4px black;
        font-size: 40px;
        background: #616586;
        line-height: 1.2;
        box-shadow: 1px 1px 1px black;
        padding: 0 10px;
    }
    line-height: 1.3;
}
.bigFont {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
}
.cube {
    background-color: $color2;
    height: 350px;
}
.abs {
    // position: absolute;
    width: 100%;
}
.black-bg {
     background-color: $dark;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.rombs-container {
    // overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    .romb {
    //    @include transform-origin(left);
       transform-origin: -2% 100%;
       left:50%;
        height: 100%;
        width: 100%;
        // max-width: 100vh;
        max-height: 100vw;
        border: 6px solid $color1;
        position: absolute;
        bottom: -40px;
     
     &:first-child {
        @include transform(rotate(-45deg));
     }

     &:nth-child(2) {
         transform-origin: 2% 105%;
        @include transform(rotate(-35deg));
     }
     
     &:nth-child(3) {
        @include transform(rotate(-25deg));
           transform-origin: 10% 110%;
     }

    }
}

.galrow  {
    padding-top: 60px;
    padding-bottom: 60px;
    .col-lg-4{
    margin-bottom:15px;
    margin-top:15px;
}
}

    .line  {
    height: 6px;
    background-color: #00bff3;
    width: 200vw;
    position: absolute;
    z-index: 0;
    &.uno {
        transform-origin: 0;
        bottom: 0;
        left: 0;
        @include transform(rotate(-45deg)) 
    }
}

.gal-item   {
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -o-perspective: 1000;
        perspective: 1000;

        .cube {
            overflow: visible;
            .gal-img {
                background-color: black;
                @include transform(rotate(0));
                @include transition(all 1s);
                @include transform-style(preserve-3d);
               
               //  img {display: block;}
               opacity:1;
               .img-fluid {
                   @include transform(translateX(0%));
                   @include transition(all .5s);
                   opacity: 1;
                   position: absolute;
                   top: 0;
                   left:0;
                   &.ng-hide:not(.ng-hide-animate) {
                       
                   }
               }
            }
        &.flip  {
            .gal-img {
                @include transform(rotateY(180deg));
            }
        }
    }

}
.section-nav {
    @include transition(all .4s);
    background-color: $color1;
    position: absolute;
    z-index: 999;
    width: 100%;
    bottom:0;
    z-index: 0;
    height: 40px;
    &.active {
        position: fixed;
        top: 0;
        z-index: 2;
    }
}

.color1 {
    color: $color1;
}
.form-group {
    padding-top: 20px;
    position: relative;
}
label {
    opacity:0;
    position: absolute;
    transition: .2s bottom, .2s opacity, .2s font-size;
    bottom: 0;
    left: 30px;
    z-index: 1; 
    font-size:1em;
}
input.form-control {
    font-weight: 100;
    background-color: transparent !important;
    color: white;
    border: none;
    box-shadow: 0 -2px 0px 0px gray inset;
    border-radius: 0;
    height: 50px;
    // border-bottom: 1px solid $color1;
    &:focus {
        color: lightgray;
    }
}
input:focus ~ label, input:not(:placeholder-shown) ~ label {
    bottom: 80%;
    opacity: 1;
    left:20px;
    font-size: .8em;
    margin-bottom: 0;
    color: $color1;
}
 input[type=textarea] {
     height: 80px;
 }

.line  {
    @include transition(width .2s);
    width: 0;
    left:15px;
    height: 2px;
    height: 2px;
    background-color: $color1;
    position: absolute;
    bottom: 0;
}

 input:focus ~ .line,input:not(:placeholder-shown) ~ .line{
     content: '';
     width: calc(100% - 30px);
     
     
 }