<section class="contact bg-dark-gray">
       
    <div class=" verticalCenter">
        <div class="container">
                <h2 class="contact-title">Let's get in touch!</h2>
                <div ng-show="error" style="color: white;">You have an error in my form!</div>
                <form  name="contactForm"  novalidate>
                        <div class="row">
                        
                        <div class="form-group col-md-6">
                            <input type="text" 
                                   class="form-control" id="_name" 
                                   aria-describedby="name" placeholder="Name" 
                                   name="name" ng-model="user.name" required>
                            <label for="_name">Name</label>
                            <div class="line"></div>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" 
                                   class="form-control" id="_last" 
                                   aria-describedby="lastname" placeholder="Lastname"  
                                   ng-model="user.lastname" required>
                            <label for="_last">Lastname</label>
                            <div class="line"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <input type="email" 
                                   class="form-control" id="_email" 
                                   aria-describedby="email" placeholder="Email"  
                                   ng-model="user.email" required>
                            <label for="_email">Email address</label>
                            <div class="line"></div>
                        </div>

                        <div class="form-group col-md-12">
                            <input type="textarea" 
                                   class="form-control" id="_message" 
                                   aria-describedby="message" placeholder="Enter message!"  
                                   ng-model="user.message">
                            <label for="_message">Message</label>
                            <div class="line"></div>
                        </div>
                    </div>
                    <button type="submit" class="btn color1" ng-click="sendEmailDetails(contactForm.$valid)">send</button>
                </form>
                </div>
    </div>
</section>