<section>
    <div class="verticalCenter">
        <div class="container">
            <!-- <div class="center-block col-md-4">
                <h1>hello form</h1>
                <form action="" enctype="multipart/form-data">

                    <input type="file" multiple="true">
                    <input type="submit" value="submit">
                </form>

            </div> -->
            <div ng-controller="CreateController">
                <input type="file" nv-file-select uploader="uploader" ><br/>
                <ul>
                    <li ng-repeat="item in uploader.queue">
                        Name: <span ng-bind="item.file.name"></span><br/>
                        <button ng-click="item.upload()">upload</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>