<section class="">
    <div class="black-bg"></div>
    <spans class="line uno"></spans>
    <spans class="line"></spans>
    <spans class="line"></spans>
    <spans class="line"></spans>
    <div class="lines">

    </div>
    <div class="container">
          
<div class="row galrow" ng-controller="GalCtrl as galleryCrtl">

    <div class="col-lg-4 gal-item col-6" ng-repeat="gallery in galleryCrtl.galleryData">
        <cube-style>
             <slide>

            <div class="cube" ng-class="{'flip':active}"  ng-click="active=!active " ng-mouseover="start()" ng-mouseleave="reset()">
                
                       <div class="caption">
                            <div class="middle">
                                Click here to get more info!
                            </div>
                       </div>
                       <div class="gal-img" ng-repeat="image in gallery.images track by $index" data-img-tracking={{$index}}>
                            <img  class="img-fluid"   
                            ng-src="{{image.src}}" 
                            ng-show="image.visible"> 
                       </div>
                       <div class="dots"  >
                            <span class="dot" ng-repeat="dot in gallery.images track by $index" data-dot-tracking={{$index}} ></span>
                        </div>
                       <div class="gal-img-back">
                           fasdfasdf
                       </div>
            </div>
                     </slide>
        </cube-style>
    </div>

</div>
</div>

</section>