<div class="row galrow" ng-controller="GalCtrl as galleryCrtl">

    <div class="col-lg-4 col-6" ng-repeat="gallery in galleryCrtl.galleryData">
        <cube-style>
             <slide>
            <div class="cube" ng-mouseover="start()" ng-mouseleave="reset()">
               
                     
                     <div ng-repeat="image in gallery.images track by $index">

                      <img  class="img-fluid"   
                     ng-src="{{image.src}}" 
                     ng-show="image.visible"> 
                       </div>
               
            </div>
                     </slide>
        </cube-style>
    </div>

</div>