<section class="blocks">
        <div class="rombs-container">
            <div class="romb"></div>
            <div class="romb"></div>
            <div class="romb"></div>
        </div>
        <div class="overlay"></div>



        <div class="container centered-wrapper">
            <div class="centered">
                <blocks>
                    <cube-style>


                        <div class="row row1">
                            <div class="col-md-6  col-lg-4">
                                <div class="inner ">
                                    <div class="textbox">
                                        <div class="title"> Front end Developer </div>
                                        <ul>
                                            <li>Html5</li>
                                            <li>Css3</li>
                                            <li>Sass</li>
                                            <li>Less</li>
                                            <li></li>
                                        </ul>
                                    </div>
                                    <div class="cube"></div>
                                </div>
                            </div>
                            <div class="col-md-6  col-lg-4 middle">
                                <div class="inner">
                                    <div class="textbox">
                                        <div class="title"> Backend Developer </div>
                                        <ul>
                                            <li>Php</li>
                                            <li>NodeJs</li>
                                            <li>Laravel</li>
                                            <li>Java</li>
                                        </ul>
                                    </div>
                                    <div class="cube"></div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-4">
                                <div class="inner">
                                    <div class="cube hidden-md-down"></div>
                                    <div class="row">
                                        <div class="textbox col-md-6 col-lg-12">
                                            <div class="title"> Full Stack Javascript </div>
                                            <ul>
                                                <li>Node Js</li>
                                                <li>Angular Js</li>
                                                <li>React </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="cube hidden-lg-up"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </cube-style>
                </blocks>
            </div>

        </div>

        <div class="bottom-line centerWrapper  color2-bg">
            <div class="verticalCenter dos  center">
                <span class="color1 go-down dos" go-down ng-click="goNext()" data-text='next section'>next section</span>
            </div>
        </div>
        <div class="section-nav center" section-nav ng-controller="NavController as Ctrl">
         <div class="container">
                <div class="navigation ">
                        <a ui-sref=".gallery" ng-show="Ctrl.$location.path() != '/'" ui-sref-active="active">gallery</a>
                        <a ui-sref=".contact" ng-show="Ctrl.$location.path() != '//contact'" ui-sref-active="active">contact</a>
                    </div>
        
                    <div class="social-wrapper">
                        <ul class="social fromRight">
                            <li class="a-1"><a href="http://google.com"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
        
         </div>
           

        </div>
    </section>
