<section class="blocks">
        <div class="rombs-container">
            <div class="romb"></div>
            <div class="romb"></div>
            <div class="romb"></div>
        </div>
        <div class="overlay"></div>



        <div class="container centered-wrapper">
            <div class="centered">
                <blocks>
                    <cube-style>
                        <div class="row row1">
                            <div class="col-md-6  col-lg-4">
                                <div class="inner ">
                                    <div class="textbox">
                                        <div class="title"> Front end Developer </div>
                                        <ul class="bars">
                                            <li class="row">
                                                <span class="col-3">Html5</span> 
                                                <div class="col-9">
                                                   <div class="progress"><div class="progress-bar" style="width: 100%" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100">100%</div></div>
                                                </div>
                                             <li class="row">
                                                    <span class="col-3">Css3</span> 
                                                    <div class="col-9">
                                                            <div class="progress"><div class="progress-bar"  style="width: 100%" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100">100%</div></div>
                                                      </div>
                                             </li>
                                            <li class="row">
                                                <span class="col-3">Sass</span>
                                                <div class="col-9">
                                                        <div class="progress"><div class="progress-bar"  style="width: 100%" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100">100%</div></div>
                                                     </div>
                                            </li>
                                            <li class="row"><span class="col-3">Less</span>
                                                <div class="col-9">
                                                        <div class="progress"><div class="progress-bar"  style="width: 90%" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100">90%</div></div>
                                                     </div>  
                                            </li>
                                            </li>
                                            <li></li>
                                        </ul>
                                    </div>
                                    <div class="cube"></div>
                                </div>
                            </div>
                            <div class="col-md-6  col-lg-4 middle">
                                <div class="inner">
                                    <div class="textbox">
                                        <div class="title"> Backend Developer </div>
                                        <ul class="bars">
                                            <li class="row">
                                               <span class="col-3">Php</span> 
                                               <div class="col-9">
                                                  <div class="progress"><div class="progress-bar"  style="width: 100%" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100">100%</div></div>
                                               </div>
                                            </li>
                                            <li class="row">
                                                    <span class="col-3">NodeJs</span> 
                                                    <div class="col-9">
                                                       <div class="progress"><div class="progress-bar"  style="width: 95%" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100">95%</div></div>
                                                    </div>
                                                 </li>
                                            <li class="row">
                                                    <span class="col-3">Laravel</span> 
                                                    <div class="col-9">
                                                        <div class="progress"><div class="progress-bar"  style="width: 30%" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100">30%</div></div>
                                                    </div>
                                            </li>
                                            <li class="row">
                                                <span class="col-3">Java</span> 
                                                <div class="col-9">
                                                    <div class="progress"><div class="progress-bar"  style="width: 35%" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100">35%</div></div>
                                                </div>
                                            </li>
                                            <li class="row">
                                                <span class="col-3">Myslq</span> 
                                                <div class="col-9">
                                                    <div class="progress"><div class="progress-bar"  style="width: 90%" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100">90%</div></div>
                                                </div>
                                            </li>
                                            <li class="row">
                                                    <span class="col-3">MongoDB</span> 
                                                    <div class="col-9">
                                                        <div class="progress"><div class="progress-bar"  style="width: 95%" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100">95%</div></div>
                                                    </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="cube"></div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-4">
                                <div class="inner">
                                    <div class="cube hidden-md-down"></div>
                                    <div class="row">
                                        <div class="textbox col-md-6 col-lg-12">
                                            <div class="title"> Full Stack Javascript </div>
                                            <ul class="bars">
                                                <li class="row">
                                                        <span class="col-3">NodeJs</span> 
                                                        <div class="col-9">
                                                            <div class="progress"><div class="progress-bar"  style="width: 95%" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100">95%</div></div>
                                                        </div>
                                                </li>
                                                <li class="row">
                                                        <span class="col-3">AngularJs</span> 
                                                        <div class="col-9">
                                                            <div class="progress"><div class="progress-bar"  style="width: 95%" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100">95%</div></div>
                                                        </div>
                                                </li>
                                                <li class="row">
                                                        <span class="col-3">React</span> 
                                                        <div class="col-9">
                                                            <div class="progress"><div class="progress-bar"  style="width: 30%" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100">30%</div></div>
                                                        </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="cube hidden-lg-up"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </cube-style>
                </blocks>
            </div>

        </div>

        <div class="bottom-line centerWrapper  color2-bg">
            <div class="verticalCenter dos  center">
                <span class="color1 go-down dos" go-down ng-click="goNext()" data-text='next section'>next section</span>
            </div>
        </div>
        <div class="section-nav center" section-nav ng-controller="NavController as Ctrl">
         <div class="container">
                <div class="navigation ">
                        <!-- <a ui-sref=".gallery" ng-show="Ctrl.$location.path() != '/'" ui-sref-active="active">gallery</a> -->
                        <a ui-sref=".contact" ng-show="Ctrl.$location.path() != '//contact'" ui-sref-active="active">contact</a>
                    </div>
        
                    <div class="social-wrapper">
                        <ul class="social fromRight">
                            <li class="a-1"><a href="https://www.linkedin.com/in/carlos-alberto-lupianez-carcasses-9a7672ba/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
        
         </div>
           

        </div>
    </section>
