
    <section class="banner">
            <div class=" verticalCenter">
                <div class="container">
                    <div class="bannerTitle">
                        I am <span>Carlos Lupianez </span></br>
                        a <span class="bigFont">perfect pixel</span> </br>
                        <span class="bigFont bolder">Web Developer</span>
                    </div>
                </div>
            </div>
    
            <div class="bottom-line  centerWrapper">
                <div class="verticalCenter uno center">
                    <span class="color1 uno go-down" go-down data-text='next section'>next section</span>
                </div>
            </div>
        </section>
    
       